:scope {
  color: rgb(124, 77, 197);
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-shadow: 0.05em 0.04em 0 white, -0.05em 0.04em 0 white,
    0.05em -0.04em 0 white, -0.05em -0.04em 0 white;
}

:scope::before {
  content: '';
  position: absolute;
  background: rgb(142, 84, 233);
  height: 0.08em;
  width: 100%;
  left: 0;
  bottom: 0.35em;
  opacity: 0;
  z-index: -1;
  transform: scaleX(0.1);
  transition: opacity 0.2s linear, transform 0.2s ease-in;
}

:scope:hover::before {
  opacity: 1;
  transform: scaleX(1);
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

@media print {
  :scope::after {
    content: ' (' attr(href) ')';
  }
}
